body {
    background-color: white;
}

.vcenter {
	margin: 0 auto;
}

.outerContainer {
    min-height: 0px;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#main{
    background-color: #0783C3;
}

.video__background {
  /*  bottom: 0;*/
   width: 100%;
    overflow: hidden;
    margin-top: 30px;
    border:0;
   /* position: absolute;*/
}

.short-description {
    line-height: 1.75;
    text-align: center;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    background-color: white;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    #footer .f-menu {
        display: inline-block;
        vertical-align: top;
        width: 32.5%;
        background-color: white;
    }
}


#footer .f-menu li {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    line-height: 1.1;
    max-width: 320px;
    background-color: white;
}

span.marker {
     font-family: 'Knewave';
}

[data-notify="container"]{
    font-family: 'Knewave', serif;
}

div#tooltip {
    font-family: 'Knewave', serif;
}
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

.marker{
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: flex;
    align-items: center; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 2px;
    justify-content:center;
 }
 
.marker.blue{
  background: url(../images/marker_blue.png);
  background-size: 100%;
}

.marker.yellow{
  background: url(../images/marker_yellow.png);
  background-size: 100%;
}

.marker.red{
  background: url(../images/marker_red.png);
  background-size: 100%;
}

/*.video__background video{
	
	height:100%;
	position:absolute;
	width:auto;
}

@media (min-width: 1100px)
{
	.hero__background video {
		height:auto;
		width:100%;
	}
}*/

.scroll-pane
{
    width: 100%;
    height: 200px;
    overflow: auto;
}


#tooltip
    {
        text-align: center;
        color: #fff;
        background: #111;
        position: absolute;
        z-index: 100;
        padding: 5px;
    }

    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -5px;
    }

    #tooltip.top:after
    {
        border-top-color: transparent;
        border-bottom: 2px solid #111;
        top: -20px;
        bottom: auto;
    }

    #tooltip.left:after
    {
        left: 3px;
        margin: 0;
    }

    #tooltip.right:after
    {
        right: 3px;
        left: auto;
        margin: 0;
    }

    .image-class {
        border: 2px solid #ccc;
        padding:1px;
        width="100%
    }

    @media (max-width: 1024px)   {
        .container {
            margin-right: 0px;
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .container, .container-fluid {
            margin-right: 0px;
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }


        .image-class {
            border: 0px;
            padding:0px;
        }
    }